<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>welcome</title>



    <link rel="stylesheet" type="text/css" href="public/styles/pikeatsIndexStyle.css">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">




    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">




    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">

    
    <script src="public/scripts/pikeatsIndexScript.js" defer></script>



</head>

<body class="bodyControl">

    <div class="mainControl">

        <!-- NAV BAR CONTROLS xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
        <!-- ////////////////////////////////////////////////////// -->

            <div class="navBarContainer">

            </div>

        <!-- INCOMING POSTS CONTAINER xxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
        <!-- ////////////////////////////////////////////////////// -->

            <div class="adminIncomingPostsContainer">







                <!-- FILTER BUTTONS CONTAINER --------------------- -->
                <!-- ---------------------------------------------- -->

                    <div class="adminIncomingPostsFilterContainer">

                        <div class="adminIncomingPostsFilterResizer">




                            <!-- FILTER BUTTON FOR ALL POSTS ------ -->
                            <!-- ---------------------------------- -->

                                <div class="adminAllPostsFilterButtonContainer">

                                    <div class="adminAllPostsFilterButtonActual">

                                        all

                                    </div>

                                </div>




                            <!-- FILTER BUTTON FOR 3 STAR POSTS --- -->
                            <!-- ---------------------------------- -->

                                <div class="admin3StarsPostsFilterButtonContainer">

                                    <div class="admin3StarsPostsFilterButtonActual">

                                        average

                                    </div>

                                </div>




                            <!-- FILTER BUTTON FOR 5 STAR POSTS --- -->
                            <!-- ---------------------------------- -->

                                <div class="admin5StarsPostsFilterButtonContainer">

                                    <div class="admin5StarsPostsFilterButtonActual">

                                        high

                                    </div>

                                </div>




                        </div>

                    </div>





                

                <!-- INCOMING POSTS SET HERE ---------------------- -->
                <!-- ---------------------------------------------- -->

                    <div class="adminIncomingPostsSetterContainer">

                        <div class="adminIncomingPostsSetterFirstSetContainer">




                            <!-- POST CONTAINER GENERAL ----------- -->
                            <!-- ---------------------------------- -->

                                <div class="postGeneralContainer">

                                    <div class="postGeneralHostBlockContainer">



                                        <!-- POST IMAGE CONTAINER - -->
                                        <!-- ---------------------- -->

                                            <div class="postGeneralHostBlockPostImageContainer">

                                            </div>
                                        


                                        <!-- POST RATING CONTAINER  -->
                                        <!-- ---------------------- -->

                                            <div class="postGeneralHostBlockRatingsContainer">



                                                <!-- STAR ONE CONTAINER -->
                                                <!-- -------------- -->

                                                    <div class="postGeneralHostBlockRatingsStarOneContainer">

                                                        <div class="postGeneralHostBlockRatingsStarOneActual">

                                                        </div>

                                                    </div>



                                                <!-- STAR TWO CONTAINER -->
                                                <!-- -------------- -->

                                                    <div class="postGeneralHostBlockRatingsStarOneContainer">

                                                        <div class="postGeneralHostBlockRatingsStarTwoActual">

                                                        </div>

                                                    </div>



                                                <!-- STAR THREE CONTAINER -->
                                                <!-- -------------- -->

                                                    <div class="postGeneralHostBlockRatingsStarOneContainer">

                                                        <div class="postGeneralHostBlockRatingsStarThreeActual">

                                                        </div>

                                                    </div>



                                                <!-- STAR FOUR CONTAINER -->
                                                <!-- -------------- -->

                                                    <div class="postGeneralHostBlockRatingsStarOneContainer">

                                                        <div class="postGeneralHostBlockRatingsStarFourActual">

                                                        </div>

                                                    </div>



                                                <!-- STAR FIVE CONTAINER -->
                                                <!-- -------------- -->

                                                    <div class="postGeneralHostBlockRatingsStarOneContainer">

                                                        <div class="postGeneralHostBlockRatingsStarFiveActual">

                                                        </div>

                                                    </div>

                                            </div>

                                    </div>

                                </div>




                        </div>

                    </div>

            </div>

    </div>
    
</body>

</html>